.left-side,
.right-side {
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
    .left-side, .right-side {
        height: 100vh;
    }
}

.left-side {
  background: red;
}

.right-side {
  background: blue;
}
