.left-side,
.right-side {
  height: 50vh;
  width: 100%;
}
/* when the width goes below 768px, CSS setting will change to go to 100 vh, instead of previous
setting (of 50vh) */
@media screen and (min-width: 768px) {
  .left-side,
  .right-side {
    height: 100vh;
  }
}

.right-side {
  background: lightgrey;
}

.left-side {
  height: 100vh;
  background: whitesmoke;
  /* display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9"; */
}

/* Tom Code */
/* .row {
  border: 5px solid red;
} */

/* .test {
  border: 5px solid blue;
  width: 100%;
  height: 100%;
} */
/* Tom Code */

#dark-blue {
  background: darkblue;
}
#dark-red {
  background: darkred;
}
#dark-green {
  background: darkgreen;
}
#blue {
  background: blue;
}
#red {
  background: red;
}
#green {
  background: green;
}
#light-blue {
  background: lightblue;
}
#light-red {
  background: pink;
}
#light-green {
  background: lightgreen;
}

.notebook-card {
  background: red;
}
