/* Notebook card styling */
/* It seems that to push the text left and right I need to target the container? using justify-content: center */
.notebook-card {
  padding: 0.3rem;
  color: whitesmoke;
  border: whitesmoke solid 0.3rem;
  display: flex;
  justify-content: center;
}

/* Notebook card text styling */
/* I can align the push the text up and down by targeting the text element itself w/   align-self: center; */
div p {
  color: whitesmoke;
  align-self: center;
  font-weight: bold;
}
