.note-title {
  color: whitesmoke;
  font-weight: bold;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.preview-card-accordion {
  /* background-color: red; */
  flex-grow: 1;
  /* align-self: flex-start; */
  text-align: start;
}

.preview-buttons {
  padding-left: 5px;
  /* background-color: aquamarine; */
  /* align-self: flex-end; */
}

.card-body {
  text-align: start;
  text-justify: auto;
}
