/* randomly just tried button here, kind of like the color change on hover, keeping it for now */
.btn {
  color: whitesmoke;
  border: solid whitesmoke 1px;
}

.table-of-contents {
  overflow-y: auto;
  /* border: solid red 4px; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}
